@page
@model EmployeeHRManagementSystem.Pages.Companies.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>


<h3>Are you sure you want to delete?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Email)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Company.CompanyId" />
        <input type="submit" id="DeleteId" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
    </form>
</div>
<partial name="_ScriptPartial" />
<script>
    $(function () {
        $('#DeleteId').click(function () {
            $.ajax({
                type: "DELETE",
                url: "/api/company/" + companyid,
                success: function (data) {
                    console.log("success:", data);
                },
                error: function (error) {
                    console.error("error:", error);
                }
            });
        });
    });
</script>
