@page
@model EmployeeHRManagementSystem.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.CompanyId" class="btn btn-outline-info">Edit</a> |
    <a asp-page="./Index" class="btn btn-outline-secondary">Back to List</a>
</div>
